In [1]:
x = 10
#Önceki Dersimizde De Gördüğümüz Gibi Bu Bir Tamsayı Yani İnteger Veri Tipinde Bir Değişken.

In [2]:
y = 3.5
#bu ise bir kesir/ondalıklı sayı.

Ondalıklı Sayı Veri Tiplerine "FLOAT" veri tipi Denir.

Yani "y" Değişkeni Float Veri Değişkenindedir Yani Ondalıklı Bir Sayıdır.İnteger Yani Tam Sayı Değişkeni Veri Tipinde 
Değildir.

In [7]:
type()   #bu fonksiyon(fonksiyonların ne olduğunu daha sonra öğreneceğiz) ekrana değişkenin veri tipini bastırır(yazdırır).

TypeError: type() takes 1 or 3 arguments

Hata vermesinin sebebi içine tanımlanmış bir değişken koymadık.Koyalım ve doğru oluyor mu bakalım

In [8]:
type(y)

float

Ekrana Float yazdırdı, bunun anlamı y değişkeni float veri tipinde,yani ondalıklı sayı.

In [9]:
type(x)

int

x Te İnt Yani İnteger Veri Tipinde.Bir TamSayı.

## ÖNEMLİ! KODLARA DİKKATLİ BAK! :

In [10]:
z = 3.0

In [11]:
type(z)

float

In [12]:
z = 3

In [13]:
type(z)

int

3.0'ın herhangi bir ondalığı olmasa da python ondalıklı ifade kullanımı gibi kullandığımız için 3.0 = 3 e eşit olsa da 3.0 ı float olarak algılar.Virgülden sonra ne olup olması python için önemli değil.Sadece virgülün varlığına bakar.

## ÖNEMLİ! :

In [14]:
10/5

2.0

In [19]:
a = 10/5

In [20]:
type(a)

float

Python Tam Bölme Yapıldığında ( "/" ) solunda sıfır varmış gibi böler ve sonucu float çıkar.Bunu Önlemek için TABAN BÖLÜMÜ İŞLEMİ YAPARAK hiçbir şekilde ondalık kısmını saydırmamalıyız ( "//")

In [17]:
10//5

2

In [21]:
a = 10//5

In [22]:
type(a)

int

Gördüğünüz gibi integer çıktı. Aynı İşlemi Ondalığı Yok Sayılacak Ondalıklı İşlemlerde de yapabiliriz:

In [23]:
10.5/5

2.1

10 da iki tane 5 var, sayı kısmı 2. Fakat ,5 te 1 tane 5 var.Ondalık kısmı 1. Sonuç Float. Şimdi De Ondalıklarını ihmal edelim:

In [24]:
10.5//5

2.0

2.0 Verdi.Bunun Sebebi Ondalıkları İhmal De Edilse, Bir Sayıda Ondalık Mevcut Olduğu İçin Yanıtada Ondalık Eklendi.Bu Float Değerlerini İntegera çevirmeyi ilerki derslerde göreceğiz